@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body {
    @apply lg:px-10 font-sans-serif
    bg-gray-100 text-gray-800
    dark:bg-gray-900 dark:text-gray-100
  }

  .card {
    @apply rounded-xl shadow-lg p-3 lg:p-6
    bg-white
    dark:bg-gray-800
  }

  .link-wrapper {
    @apply relative inline-flex items-center justify-center
    p-0.5 overflow-hidden text-sm font-medium
    rounded-lg bg-gradient-to-br from-orange-500 to-cyan-500
    hover:text-white dark:text-white focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800
  }

  .link-wrapper > a {
    @apply relative px-5 py-1.5 transition-all ease-in duration-75
    bg-gray-100 dark:bg-gray-900 rounded-md
  }

  .button {
    @apply text-white font-medium text-center text-sm
    bg-cyan-500 hover:bg-cyan-600 focus:ring-4 focus:ring-cyan-200 dark:focus:ring-cyan-800
    disabled:bg-cyan-400 disabled:cursor-not-allowed
    rounded-lg px-5 py-2.5 mr-2 mb-2
  }

  .menu-wrapper > *{
    @apply my-2.5
  }

  .menu-wrapper > .link-wrapper > a {
    @apply bg-gray-700 dark:bg-gray-900 text-white
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
