@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body {
    @apply lg:px-6 font-sans-serif
    bg-gray-100 text-gray-800
    dark:bg-gray-900 dark:text-gray-100
  }

  .card {
    @apply rounded-xl shadow-lg p-3 lg:p-4
    bg-white
    dark:bg-gray-800
  }

  .link-wrapper {
    @apply relative inline-flex items-center justify-center
    p-0.5 overflow-hidden text-sm font-medium
    rounded-lg bg-gradient-to-br from-primary to-secondary
    hover:text-white dark:text-white focus:ring-4 focus:ring-secondary-l dark:focus:ring-secondary-d
  }

  .link-wrapper > a {
    @apply relative px-5 py-1.5 transition-all ease-in duration-75
    bg-gray-100 dark:bg-gray-900 rounded-md
  }

  .button {
    @apply text-white font-medium text-center text-sm
    bg-secondary hover:bg-secondary-d focus:ring-4 focus:ring-secondary-l dark:focus:ring-secondary-d
    disabled:bg-secondary-l disabled:cursor-not-allowed
    rounded-lg px-5 py-2.5
  }

  .small-button {
    @apply px-3 py-1.5
  }

  .secondary-button {
    @apply text-gray-900 bg-gray-200 hover:bg-gray-300 disabled:bg-gray-100
  }

  .link-active {
    @apply text-primary
  }

  .link {
    @apply block hover:text-primary dark:text-gray-400 dark:hover:text-white transition duration-200
  }

  .menu-wrapper > *{
    @apply my-2.5
  }

  .menu-wrapper > .link-wrapper > a {
    @apply bg-gray-700 dark:bg-gray-900 text-white
  }

  .input {
    @apply block py-2.5 px-0 w-full text-sm appearance-none
    bg-transparent border-0 border-b-2 border-gray-300
    dark:text-white dark:border-gray-600 dark:focus:border-primary
    focus:outline-none focus:ring-0 focus:border-primary-d
  }

  .label {
    @apply absolute top-3 -z-10 text-sm text-gray-500
    dark:text-gray-400
    duration-300 transform -translate-y-6 scale-75 origin-[0]
  }

  .error {
    @apply text-sm text-primary
  }

  .page-arrow-button {
    @apply block py-2 px-3 ml-0 leading-tight
    text-gray-500 bg-white border border-gray-300
    hover:bg-gray-100 hover:text-gray-700
    dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400
    dark:hover:bg-gray-700 dark:hover:text-white
    disabled:hover:bg-white disabled:hover:text-gray-500
    disabled:dark:hover:text-gray-400 disabled:hover:dark:bg-gray-800
  }

  .page-arrow-button-previous {
    @apply rounded-l-lg
  }

  .page-arrow-button-next {
    @apply rounded-r-lg
  }

  .rectangular-badge {
    @apply text-white capitalize py-0.5 px-1 rounded text-sm
  }

  .function-name {
    @apply rectangular-badge shadow shadow-secondary/40 text-secondary border border-secondary dark:shadow-none dark:text-secondary-l dark:border-secondary-l
  }

  .price-header {
    @apply rectangular-badge bg-gradient-to-r from-primary to-secondary text-gray-800 flex justify-between items-center py-1
  }

  .price-header-value {
    @apply border-white sm:border-l sm:ml-1 bg-white rounded px-1 dark:bg-secondary-d dark:text-white dark:border-none
  }

  .information-circle {
    @apply inline h-5 w-5 mr-1 text-secondary align-sub
  }

  #gasPriceUpdateCircle {
    @apply stroke-secondary-l dark:stroke-primary
  }

  .gwei-amount-gas-station {
    @apply absolute top-3 left-5 rounded-full p-1 text-xs font-bold h-[30px] w-[30px] not-italic
    flex items-center justify-center
    bg-white/80 dark:bg-secondary/80
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#toast-success {
  animation: toast 1s;
}

@keyframes toast {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#clipboard-toast {
  animation: clipboardToast 0.5s;
}

@keyframes clipboardToast {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-shopping-cart-item {
  animation-duration: 0.5s;
  animation-name: animate-fade;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

.welcome-banner-wrapper {
  max-width: calc(100% - 20px);
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  border-radius: .125rem;
  display: block;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

#gasPriceUpdateCircle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
